asgiref==3.7.2
async-timeout==4.0.2
backports.zoneinfo==0.2.1
cffi==1.15.1
cryptography==41.0.1
Django==4.2.2
itsdangerous==2.1.2
mysqlclient==2.2.0
pycparser==2.21
pyOpenSSL==23.2.0
redis==4.6.0
sqlparse==0.4.4
typing_extensions==4.6.3
tzdata==2023.3
