{% extends 'base.html' %}
{% load static %}
{% block auth-logo-login %}
    <div class="auth-logo">
        <img src="{% static 'images/LOGO.svg' %}" alt="LOGO">
    </div>
{% endblock %}
{% block login-content %}
    <h2>登录了解更多信息</h2>
    {#    <form method="post" id="login-form">#}
    {#        {% csrf_token %}#}
    {#        {{ form.as_p }}#}
    {#        <button type="submit">Login</button>#}
    {#    </form>#}
    <form method="post" id="login-form">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="请输入用户名">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码">
        </div>
        <button type="submit" class="btn btn-primary">登录</button>
    </form>
{% endblock %}

{#data = serializer.loads(token)#}
{% block auth-scripts %}
    <script>
        $(document).ready(function () {
            // 监听表单提交事件
            $('#login-form').submit(function (event) {
                event.preventDefault(); // 阻止表单默认提交
                // 发起 Ajax 请求
                $.ajax({
                    url: '{% url 'login' %}',  // 登录处理视图的 URL
                    type: 'POST',
                    data: $(this).serialize(),  // 序列化表单数据
                    success: function (response) {
                        if (response.success) {
                            // 登录成功
                            let user = {
                                username: $("#username").val(),
                                token:response.token
                            };
                            localStorage.setItem('user', JSON.stringify(user));
                            // 调用修改函数


                            showAlert('success', 'Login successful!' + '  1.5s后跳转到主页');
                            {#$(' #login-form').hide()#}
                            // 延时 3 秒后执行回调函数
                            setTimeout(function () {
                                window.location.href = '{% url 'home' %}';  // 重定向到成功页面
                            }, 1500);  // 延时时间为 3000 毫秒，即 3 秒
                        } else {
                            // 登录失败
                            showAlert('danger', 'Login failed. Please check your credentials.');
                        }
                    },
                    error: function (response) {
                        showAlert('danger', 'An error occurred during login.');  // 处理请求错误
                    }
                });
            });

            // 显示警告框
            function showAlert(type, message) {
                // 清除之前的警告框
                $('.alert').remove();

                // 构建警告框 HTML
                let alertHtml = '<div class="alert alert-' + type + ' alert-dismissible fade show" role="alert">';
                alertHtml += '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>';
                alertHtml += message;
                alertHtml += '</div>';

                // 添加警告框到页面
                $(alertHtml).prependTo('#login-form');
            }
        });
    </script>

{% endblock %}