{% extends 'base.html' %}
{% load static %}

{% block auth-logo-modify-password %}
    <div class="auth-logo">
        <img src="{% static 'images/LOGO.svg' %}" alt="LOGO">
    </div>
{% endblock %}

{% block modify-user-password %}
    <form method="post" id="modify-password-form">
        {% csrf_token %}
        <div class="mb-3">
            <input type="hidden" class="form-control" id="username" name="username" placeholder="请输入用户名" >
        </div>
        <div class="mb-3">
            <label for="old_password" class="form-label">old_password</label>
            <input type="password" class="form-control" id="old_password" name="old_password" placeholder="请输入旧的密码">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="请输入新的密码">
        </div>
        <div class="mb-3">
            <label for="confirm_password" class="form-label">confirm_Password</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="请确认新的密码">
        </div>
        <button type="submit" class="btn btn-primary">提交修改</button>
    </form>
{% endblock %}

{% block auth-scripts %}
    <script>
          $(function (){
              $("#username").val(user.username).add('disabled')
          })
          $(document).ready(function () {
            // 监听表单提交事件
            $('#modify-password-form').submit(function (event) {
                event.preventDefault(); // 阻止表单默认提交
                // 发起 Ajax 请求
                {#alert($(this).serialize())#}
                {#$("#username").add('disabled')#}
                console.log(user)

                $.ajax({
                    url: '{% url 'modify-password' %}',  // 登录处理视图的 URL
                    type: 'POST',
                    data: $(this).serialize(),  // 序列化表单数据
                    success: function (response) {
                        if (response.success) {
                            showAlert('success', 'Modify successful!' + '  1.5s后跳转到主页');
                            {#$(' #login-form').hide()#}
                            // 延时 3 秒后执行回调函数
                            setTimeout(function () {
                                window.location.href = '{% url 'home' %}';  // 重定向到成功页面
                            }, 1500);  // 延时时间为 3000 毫秒，即 3 秒
                        } else {
                            // 登录失败
                            showAlert('danger', 'Login failed. Please check your credentials.');
                        }
                    },
                    error: function (response) {
                        showAlert('danger', 'An error occurred during login.');  // 处理请求错误
                    }
                });
            });

            // 显示警告框
            function showAlert(type, message) {
                // 清除之前的警告框
                $('.alert').remove();

                // 构建警告框 HTML
                let alertHtml = '<div class="alert alert-' + type + ' alert-dismissible fade show" role="alert">';
                alertHtml += '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>';
                alertHtml += message;
                alertHtml += '</div>';

                // 添加警告框到页面
                $(alertHtml).prependTo('#modify-password-form');
            }
        });
    </script>
{% endblock %}