{% extends 'base.html' %}
{% load static %}
{% block auth-logo-rest-password %}
    <div class="auth-logo">
        <img src="{% static 'images/LOGO.svg' %}" alt="LOGO">
    </div>
{% endblock %}

{% block rest-user-password %}
    <h2>重置密码</h2>
    <form method="post" id="reset-form">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="请输入用户名">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="请输入邮箱">
        </div>
        <div class="mb-3" style="position: relative">
            <label for="code" class="form-label">Code</label>
            <input type="text" class="form-control" id="code" name="code" placeholder="请输入验证码">
            <button type="button" class="btn btn-primary" id="reset-sendButton"
                    style="position: absolute;top: 31px;right: 0">发送
            </button>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码">
        </div>
        <div class="mb-3">
            <label for="confirm_password" class="form-label">Confirm</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password"
                   placeholder="请再次确认密码">
        </div>
        <button type="submit" class="btn btn-primary">reset</button>
    </form>

{% endblock %}

{% block auth-scripts %}
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function startResetCountdown() {
            let sendButton = document.getElementById("reset-sendButton");
            let countdown = 60; // 设置倒计时时间，单位为秒

            sendButton.disabled = true; // 禁用发送按钮
            countdownButton(); // 调用倒计时按钮函数

            function countdownButton() {
                if (countdown === 0) {
                    sendButton.disabled = false; // 启用发送按钮
                    sendButton.innerText = "发送";
                } else {
                    sendButton.innerText = countdown + "s";
                    countdown--;
                    setTimeout(countdownButton, 1000); // 每秒更新倒计时按钮
                }
            }

        }

        $(document).ready(function () {
            $("#reset-sendButton").click(function () {
                startResetCountdown()
                let csrftoken = getCookie('csrftoken');
                $.ajax({
                    url: "{% url 'send_email_verification'  %}",  // Django后端的URL
                    method: "POST",
                    headers: {"X-CSRFToken": csrftoken},  // 在请求头中包含CSRF令牌
                    data: {email: document.getElementById("email").value},  // 将邮箱地址作为数据发送
                    success: function (response) {
                        alert(response.message);  // 弹出成功信息
                    },
                    error: function () {
                        alert("发送邮件失败");  // 弹出错误信息
                    }
                });
            })
        })

        $(document).ready(function () {
            // 监听表单提交事件
            $('#reset-form').submit(function (event) {
                event.preventDefault(); // 阻止表单默认提交
                // 发起 Ajax 请求
                $.ajax({
                    url: '{% url 'reset-password' %}',  // 注册处理视图的 URL
                    type: 'POST',
                    data: $(this).serialize(),  // 序列化表单数据
                    success: function (response) {
                        if (response.success) {

                            showAlert('success', 'Reset successful!', '3s后跳转到主页');
                            setTimeout(function () {
                                window.location.href = '{% url 'login' %}';  // 重定向到成功页面
                            }, 1500);  // 延时时间为 3000 毫秒，即 3 秒

                        } else {
                            // 注册失败
                            showAlert('danger', 'Reset failed. ');
                        }
                    },
                    error: function (response) {
                        showAlert('danger', 'An error occurred during registration.');  // 处理请求错误
                    }
                });
            });

            // 显示警告框
            function showAlert(type, message) {
                // 清除之前的警告框
                $('.alert').remove();

                // 构建警告框 HTML
                let alertHtml = '<div class="alert alert-' + type + ' alert-dismissible fade show" role="alert">';
                alertHtml += '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>';
                alertHtml += message;
                alertHtml += '</div>';

                // 添加警告框到页面
                $(alertHtml).prependTo('#reset-form');
            }
        });
    </script>

{% endblock %}